<div data-ng-controller="Schedule">
    <table class="schedule">
        <thead>
        <tr class="sched-head">
            <th>

            </th>
            <th class="sched-day">
                Monday
            </th>
            <th class="sched-day">
                Tuesday
            </th>
            <th class="sched-day">
                Wednesday
            </th>
            <th class="sched-day">
                Thursday
            </th>
            <th class="sched-day">
                Friday
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>

            </td>
            <td id="sched-M" class="sched-day">
                <!--<div class="class" ng-repeat="classes.M"></div>-->
            </td>
            <td id="sched-T" class="sched-day">
                <!--<div class="class" ng-repeat="classes.T"></div>-->
            </td>
            <td id="sched-W" class="sched-day">
                <!--<div class="class" ng-repeat="classes.W"></div>-->
            </td>
            <td id="sched-R" class="sched-day">
                <!--<div class="class" ng-repeat="classes.T"></div>-->
            </td>
            <td id="sched-F" class="sched-day">
                <!--<div class="class" ng-repeat="classes.F"></div>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>