<!DOCTYPE html>
<html lang="en-US" ng-app="app">
<head>
    <title>TAMU Schedule Planner</title>
    <link rel="stylesheet" href="content/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.js"></script>

</head>
<body>
<div ng-controller="Inspect">
    <input type="text" ng-model="subject" placeholder="Subject">
    <input type="text" ng-model="course" placeholder="Course">
    <input type="text" ng-model="section" placeholder="Section">
    <button ng-click="parseSection(data[subject.toUpperCase()][course][section])"></button>
    <h1>{{ subject.toUpperCase() }} {{ course }} {{ section }}</h1>
    {{ data[subject.toUpperCase()][course][section] }}
</div>
<div ng-include="'app/schedule/schedule.html'"></div>

<script src="app/app.module.js"></script>

<script src="app/core/core.module.js"></script>
<script src="app/core/common.js"></script>
<script src="app/core/config.js"></script>

<script src="app/inspect/inspect.module.js"></script>
<script src="app/inspect/inspect.js"></script>

<script src="app/schedule/schedule.module.js"></script>
<script src="app/schedule/schedule.js"></script>
</body>
</html>
